@page "/NnMgmtBilling"
@using Microsoft.Extensions.Localization
@using global::Necnat.Abp.NnMgmtBilling.Localization
@inject IStringLocalizer<NnMgmtBillingResource> L
@{
}
<h1>NnMgmtBilling</h1>
<p>@L["SamplePageMessage"]</p>