@page
@using Microsoft.Extensions.Localization
@using Necnat.Abp.NnMgmtBilling.Localization
@using Necnat.Abp.NnMgmtBilling.Web.Pages.NnMgmtBilling
@model Necnat.Abp.NnMgmtBilling.Web.Pages.NnMgmtBilling.IndexModel
@inject IStringLocalizer<NnMgmtBillingResource> L

@{
}
<h1>NnMgmtBilling</h1>
<p>@L["SamplePageMessage"]</p>
